@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$primary-color:#15B79E;
$text-color:#475467;
$bg-color:#fff;
$after-hover:#0E9384;
$con-width: 90rem;
$zero-px:0rem;
$container-width:80rem;

body {
	margin: $zero-px;
	font-family: "poppins";
}
.home-nav {
	margin: auto;
	max-width: $con-width;
	min-width: 100%;
	padding: $zero-px;
	gap: 10px;
	background-color: $bg-color;
	position: sticky;
	top: 0;
	left: 0;
	right: 0;
	z-index: 100;
}
.header {
	display: flex;
	justify-content: space-between;
	max-width: $container-width;
	padding: 18px 32px 18px 32px;
	gap: 0px;
	align-items: center;
	margin: auto;
	background-color: $bg-color;
}
.header-left {
	display: flex;
	max-width: 582px;
	gap: 40px;
	align-items: center;
}
.header-left-image-text {
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 157px;
	height: 32px;
	gap: 10px;
	opacity: $zero-px;
	p {
		font-size: 1.25rem;
		font-weight: 600;
		line-height: 30px;
		color: #101828;
		margin: 0;
	}
}
.side-menu {
	display: none;
}
.nav {
	display: flex;
	max-width: 385px;
	gap: 32px;
	p {
		font-size: 1rem;
		font-weight: 600;
		line-height: 24px;
		text-align: left;
		color: $text-color;
		margin: 0;
	}
}
.header-right {
	display: flex;
	max-width: 142px;
	gap: 12px;
}
.login-btn {
	max-width: 48px;
	font-weight: 600;
	font-size: 1rem;
	line-height: 24px;
	color: $text-color;
	border: none;
	background-color: $bg-color;
	padding: $zero-px;
}
.signup-btn {
	max-width: 82px;
	height: 36px;
	padding: 8px 14px 8px 14px;
	gap: 8px;
	border-radius: 8px;
	opacity: $zero-px;
	background-color:$primary-color;
	color: $bg-color;
	border: none;
	font-size: 0.875rem;
	font-weight: 600;
	line-height: 20px;
	text-align: left;
	&:hover {
		background-color: $after-hover;
	}
}
.home {
	display: flex;
	justify-content: center;
	max-width: $container-width;
	padding: 96px 32px 96px 32px;
	gap: 64px;
	margin: auto;
	align-items: center;
}
.home-left {
	display: flex;
	flex-direction: column;
	max-width: 576px;
	gap: 48px;
	position: relative;
	button {
		max-width: 171px;
		max-height: 60px;
		padding: 16px 28px 16px 28px;
		gap: 12px;
		border-radius: 8px;
		background-color: $primary-color;
		color: $bg-color;
		border: none;
		font-size: 1.125rem;
		font-weight: 600;
		line-height: 28px;
		text-align: left;
		&:hover {
			background-color:$after-hover;
		}
	}
	h3 {
		font-size: 3.75rem;
		font-weight: 600;
		line-height: 72px;
		margin: 0;
	}
	img {
		max-width: 480px;
		gap: $zero-px;
		border: 2px;
		margin: 0;
	}
	p {
		font-weight: 400;
		font-size: 1.25rem;
		line-height: 30px;
		margin: auto;
		max-width: 576px;
		color: $text-color;
	}
}
.home-left-top {
	display: flex;
	flex-direction: column;
	max-width: 576px;
	gap: 24px;
}
.home-right {
	img {
		max-width: 576px;
		max-height: 576px;
	}
}
.about {
	display: flex;
	flex-direction: column;
	margin: auto;
	max-width: $container-width;
	padding: 96px 32px 96px 32px;
	gap: 64px;
}
.about-top {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 1216px;
	gap: 20px;
	text-align: center;
	margin: auto;
	span {
		font-size: 1rem;
		font-weight: 600;
		line-height: 24px;
		text-align: left;
		color: $primary-color;
	}
	h3 {
		margin: 0;
		font-size: 2.25rem;
		font-weight: 600;
		line-height: 44px;
		text-align: left;
		color: #101828;
	}
	p {
		margin: 0;
		font-size: 1.25rem;
		font-weight: 400;
		line-height: 30px;
		text-align: left;
		color: $text-color;
	}
}
.about-top-1 {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 167px;
	gap: 12px;
}
.about-bottom {
	display: flex;
	gap: 64px;
	margin: auto;
	align-items: center;
	img {
		max-width: 576px;
		max-height: 576px;
	}
}
.card {
	max-width: 576px;
	gap: 32px;
	display: flex;
	flex-direction: column;
}
.card-style {
	max-width: 272px;
	display: flex;
	flex-direction: column;
	gap: 20px;
	img {
		max-width: 48px;
		padding: 12px;
		gap: 10px;
	}
	h3 {
		font-weight: 600;
		font-size: 1.25rem;
		line-height: 30px;
		margin: 0;
	}
	p {
		font-weight: 400;
		font-size: 1rem;
		line-height: 24px;
		color: $text-color;
		margin: 0;
	}
}
.card-style-1 {
	display: flex;
	gap: 20px;
}
.card-style-2 {
	display: flex;
	gap: 20px;
}
.features {
	display: flex;
	margin: auto;
	max-width: $con-width;
	padding: $zero-px 80px ;
	gap: 10px;
	background-color: #125D56;
}
.feature {
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width:$container-width;
	padding: 96px 32px 96px 32px;
	gap: 64px;
	margin: auto;
}
.feature-top {
	max-width: 1216px;
	gap: 20px;
	text-align: center;
	align-items: center;
	margin: auto;
	display: flex;
	flex-direction: column;
	span {
		font-size: 1rem;
		font-weight: 600;
		line-height: 24px;
		color: $primary-color;
	}
	h3 {
		font-size: 2.25rem;
		font-weight: 600;
		line-height: 44px;
		color:$bg-color;
		margin: 0;
	}
	p {
		font-size: 1.25rem;
		font-weight: 400;
		line-height: 30px;
		max-width: 797px;
		color: $bg-color;
		margin: 0;
	}
}
.feature-top-1 {
	margin: auto;
	max-width: 986px;
	gap: 12px;
	display: flex;
	flex-direction: column;
}
.feature-bottom {
	max-width: 1216px;
	gap: 32px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}
.feature-card {
	display: flex;
	flex-direction: column;
	max-width: 384px;
	padding: 32px 24px 32px 24px;
	gap: 20px;
	border-radius: 20px;
	border: 1px solid #D0D5DD;
	background-color: $bg-color;
	width: 100%;
	box-sizing: border-box;
	img {
		max-width: 48px;
		padding: 12px $zero-px $zero-px $zero-px;
		gap: 10px;
	}
	h3 {
		max-width: 336px;
		font-size: 1.25rem;
		font-weight: 600;
		line-height: 30px;
		text-align: center;
		color: #101828;
		margin: 0;
	}
	p {
		max-width: 336px;
		font-size: 1rem;
		font-weight: 400;
		line-height: 24px;
		text-align: center;
		color: $text-color;
		margin: 0;
	}
}
.feature-card-style {
	display: flex;
	justify-content: center;
}
.sales {
	display: flex;
	align-items: center;
	max-width: $container-width;
	padding: 96px 32px 96px 32px;
	gap: 64px;
	margin: auto;
}
.sales-left {
	max-width: 576px;
	gap: 48px;
	font-size: 2.25rem;
	font-weight: 600;
	line-height: 44px;
	text-align: left;
	margin: auto;
	display: flex;
	flex-direction: column;
	h3 {
		font-size: 2.25rem;
		font-weight: 600;
		line-height: 44px;
		text-align: left;
		margin: 0;
	}
	p {
		font-size: 1.25rem;
		font-weight: 400;
		line-height: 30px;
		text-align: left;
		color: $text-color;
		margin: 0;
	}
	span {
		color: $primary-color;
	}
}
.sales-right {
	max-width: 576px;
	max-height: 576px;
}
.pricing {
	display: flex;
	flex-direction: column;
	max-width: $container-width;
	padding: 96px $zero-px;
	gap: 10px;
	margin: auto;
}
.pricing-outer {
	max-width: $container-width;
	padding: 96px 32px 96px 32px;
	gap: 64px;
	border-radius: 20px;
	background-color: #125D56;
}
.pricing-inner {
	max-width: 1216px;
	gap: 48px;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	h3 {
		font-size: 2.25rem;
		font-weight: 600;
		line-height: 44px;
		text-align: center;
		color: $bg-color;
		margin: 0;
	}
	p {
		font-size: 1.25rem;
		font-weight: 400;
		line-height: 30px;
		text-align: center;
		color: #D0D5DD;
		margin: 0;
	}
	button {
		max-width: 171px;
		padding: 16px 28px 16px 28px;
		gap: 12px;
		border-radius: 8px;
		background-color: $primary-color;
		border: none;
		display: flex;
		flex-direction: column;
		font-size: 1.125rem;
		font-weight: 600;
		line-height: 28px;
		text-align: left;
		color: $bg-color;
		&:hover {
			background-color:$after-hover;
		}
	}
}
.pricing-inner-top {
	max-width: 1216px;
	gap: 20px;
	display: flex;
	flex-direction: column;
}
.footer {
	display: flex;
	flex-direction: column;
	max-width: $con-width;
	padding: 64px 80px 48px 80px;
	gap: 64px;
	justify-content: space-between;
	background-color: $bg-color;
	margin: auto;
}
.footer-top {
	display: flex;
	max-width:$container-width;
	padding: $zero-px 32px;
	gap: 162px;
	justify-content: space-between;
}
.footer-top-left {
	display: flex;
	justify-content: start;
	align-items: center;
	margin-bottom: auto;
	max-width: 265px;
	gap: 10px;
	img {
		max-width: 48px;
	}
	p {
		font-size: 2.25rem;
		font-weight: 600;
		line-height: 44px;
		text-align: left;
		color: #101828;
		margin: 0;
	}
}
.footer-top-right {
	max-width: 789px;
	gap: 32px;
	display: flex;
	justify-content: space-between;
	ul {
		margin: 0;
		li {
			list-style: none;
			margin: 0;
			padding: 0;
			font-size: 1rem;
			font-weight: 600;
			line-height: 24px;
			text-align: left;
			color: $text-color;
			gap: 16px;
			display: flex;
			margin-top: 16px;
			&:first-child {
				font-size: 0.875rem;
				font-weight: 400;
				line-height: 20px;
				text-align: left;
				color: $text-color;
				margin: 0;
			}
		}
	}
}
.list-container {
	margin: $zero-px;
	justify-content: baseline;
}
li {
	margin: 0;
}
.footer-bottom {
	max-width: $container-width;
	padding: 31px 32px 31px 32px;
	gap: $zero-px;
	display: flex;
	justify-content: space-between;
}
.inner-footer-bottom {
	display: flex;
	width: 1216px;
	gap: $zero-px;
	justify-content: space-between;
}
.footer-bottom-left {
	max-width: 255px;
	font-size: 0.875rem;
	font-weight: 500;
	line-height: 24.5px;
	text-align: center;
	color: $text-color;
	p {
		margin: 0;
	}
}
.footer-bottom-right {
	display: flex;
	max-width: 168px;
	gap: 8px;
	align-items: center;
}
footer {
	display: flex;
	flex-direction: column;
	padding: 48px 32px 0;
	background-color: $bg-color;
	color: #000;
	display: none;
	border-top: 1px solid #D0D5DD;
}
.small-footer-top {
	margin-bottom: 20px;
}
.small-footer-top-left {
	display: flex;
	align-items: center;
	gap: 10px;
	img {
		width: 48px;
		height: 48px;
	}
	p {
		font-size: 2.25rem;
		font-weight: 600;
	}
}
.small-footer-middle {
	display: flex;
	flex-direction: column;
	gap: 10px;
	.expand-footer-div {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 10px 0;
		border-bottom: 0.5px solid #D0D5DD;
		cursor: pointer;
		&:first-child {
			background: #000;
		}
	}
}
.expand-footer-div {
	p {
		font-size: 1rem;
		font-weight: 400;
		color: $text-color;
		margin: 0;
	}
	img {
		width: 24px;
		height: 24px;
		transition: transform 0.3s ease;
	}
}
.accordion-input {
	display: none;
	&:checked {
		& + .expand-footer-div {
			& + .accordion-content {
				display: block;
			}
			img {
				transform: rotate(180deg);
			}
		}
	}
}
.accordion-content {
	display: none;
	padding: 10px 0;
	ul {
		list-style-type: none;
		padding: 0;
		margin: 0;
		li {
			padding: 5px 0;
			font-size: 1rem;
			color: $text-color;
			font-weight: 600;
			&:hover {
				background-color: #F0FDF9;
				color: #107569;
			}
		}
	}
}
.small-footer-bottom {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 32px 0;
	p {
		font-weight: 500;
		font-size: 0.875rem;
		color: #63656d;
		font-family: Montserrat;
		margin: 0;
	}
}
.small-footer-bottom-icons {
	display: flex;
	gap: 8px;
	width: 168px;
	img {
		width: 36px;
		height: 36px;
	}
}
